.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Author{
  font-style: italic;
  font-size: 20px;
  color: yellow;
  border: 2px solid red;
  padding: 1.2rem;
  border-radius: 23px;
}
.Quote{
  font-style: italic;
  font-size: 20px;
  color: rgb(152, 206, 27);
  border: 2px solid rgb(67, 7, 95);
  padding: 1.2rem;
  border-radius: 23px;
}
.Generator{
  background-color: #282c34;
  margin-top: 1rem;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: rgb(109, 163, 112);
  border: 2px solid rgb(86, 21, 21);
  padding: 1.2rem;
  border-radius: 23px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
