.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Title{
  text-decoration: underline;
}

.Quote{
  font-style: italic;
  font-size: 20px;
  border: 1px solid greenyellow ;
  padding: 1.2rem;
  border-radius: 25px;
}

.Author{
  font-style: italic;
  font-size: 20px;
  color: #fbf161;
  border: 1px solid rgb(250,2,44);
  border-radius: 25px;
  padding: 1.2rem;
}


