body{
    background-color: white;  
    text-align: center;
    
}
#demobutton{
    color: white;
    background-color: rgb(7, 170, 224);
    width: 100px ;
    height: 50px ;
    font-size: 16px;
    border-radius: 4px;
}