.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a0dc9b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Title{
  text-decoration: underline;
  color: rgb(10, 189, 239);

}

.Quote{
  font-style: italic;
  font-size: 30px;
  color:#3f2ab8;
  border: rgb(54, 33, 39) 1px solid;
  padding: 1.2rem;
  border-radius: 25px;

}
.Author{
  font-style: italic;
  font-size: 30px;
  color:#cf4952;
  border: rgb(83, 106, 48) 1px solid;
  padding: 1.2rem;
  border-radius: 25px;

}

.Generator{
  background-color: aqua;
  color: #cf4952;
  border: rgb(4, 37, 87) 1px solid;
  padding: 1.2rem;
  border-radius: 25px;
  font-size: 20px;
  margin: 1rem;
  font-weight: bold;
}
