.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #111a2c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Title{
  text-decoration:underline;
}

.Quote{
  font-style: oblique;
  font-size:larger;
  color:chartreuse;
  border:antiquewhite 1px solid;
  padding:0.8rem;
  border-radius:20px;
}

.Author{
  font-style: oblique;
  font-size:larger;
  color:chartreuse;
  border:antiquewhite 1px solid;
  padding:0.8rem;
  border-radius:20px;
}

#Generator{
  background-color: black;
  color:aliceblue;
  border:#61dafb 1px solid;
  padding:1.2rem;
  font-size: 20px;
  font-weight: bold;
}